/* * {
  border: 1px solid grey;
  margin: 0;
} */

.App {
  font-family: "Kalam", cursive;
  text-align: center;
}

.snippet {
  font-size: 1.5rem;
}

.plus {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  padding: 1rem;
}

#editable {
  resize: both;
  overflow: auto;
}
